/* 햄버거 버튼 */
.ico.ico-bars {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.ico.ico-bars > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: white;
  transition: top 0.2s, bottom 0.2s, transform 0.3s, visibility 0s 0.2s;
}

.ico.ico-bars > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.ico.ico-bars > div:last-child {
  top: auto;
  bottom: 0;
  transform-origin: bottom left;
}

.ico.ico-bars > div:first-child {
  top: -2px;
}

.ico.ico-bars > div:last-child {
  bottom: -2px;
}

.ico.ico-bars > div:first-child {
  transform-origin: top left;
}

.ico.ico-bars.active div:first-child {
  top: -2px;
  transform: rotate(45deg);
}

.ico.ico-bars.active div:last-child {
  bottom: -2px;
  transform: rotate(-45deg);
}

.ico.ico-bars.active div:nth-child(2) {
  visibility: hidden;
  transition: visibility 0s 0s;
}

/* 사이드 바 */
.side-bar {
  z-index: 3;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to right, #ac99f2, #a7baf2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.2s;
  color: white;
}

.side-bar.active {
  width: 200px;
}

.side-bar .toggle-side-bar-btn {
  margin: 16px 0 0 10px;
}

.side-bar .menu,
.side-bar .logOutBtn {
  position: absolute;
  top: 50px;
  right: 100%;
}

.side-bar .logOutBtn {
  cursor: pointer;
  transition: color 0.3s;
  white-space: nowrap;
}

.side-bar.active .menu,
.side-bar.active .logOutBtn {
  left: 20%;
}

.side-bar.active .logOutBtn {
  top: auto;
  bottom: 40px;
}

.side-bar .menu > ul > li > ul {
  padding-left: 20px;
}

.side-bar .menu li > a {
  display: block;
  white-space: nowrap;
  transition: color 0.3s;
  padding: 5px;
}

.side-bar .menu li > a:hover,
.logOutBtn:hover {
  color: black;
}
