@value fo-1, fo-2, primary from '../../common/colors.css';

/* 햄버거 버튼 */
.toggleIcon {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.toggleIcon > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: white;
  transition: top 0.2s, bottom 0.2s, transform 0.3s, visibility 0s 0.2s;
}

.toggleIcon > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.toggleIcon > div:last-child {
  top: auto;
  bottom: 0;
  transform-origin: bottom left;
}

.toggleIcon > div:first-child {
  top: -2px;
}

.toggleIcon > div:last-child {
  bottom: -2px;
}

.toggleIcon > div:first-child {
  transform-origin: top left;
}

.toggleIcon.active div:first-child {
  top: -2px;
  transform: rotate(45deg);
}

.toggleIcon.active div:last-child {
  bottom: -2px;
  transform: rotate(-45deg);
}

.toggleIcon.active div:nth-child(2) {
  visibility: hidden;
  transition: visibility 0s 0s;
}

/* 사이드 바 */
.container {
  z-index: 3;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to right, fo-1, fo-2);
  /* background-color: primary; */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.container.active {
  width: 200px;
}

.container .toggleIcon {
  margin: 16px 0 0 10px;
}

.container .menu {
  width: 80%;
  margin-left: 30px;
  padding: 20px 0;
  visibility: hidden;
  transition: visibility 0.1s;
}

.container.active .menu {
  visibility: visible;
  transition: visibility 0.2s;
}

.container .logOutBtn {
  position: absolute;
  cursor: pointer;
  transition: color 0.3s;
  padding: 5px;
  bottom: 40px;
  left: 40px;
  visibility: hidden;
  transition: visibility 0.1s;
}

.container.active .logOutBtn {
  visibility: visible;
  transition: visibility 0.2s;
}

.menuItem a {
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
  padding: 5px;
  margin-bottom: 3px;
}

.menuItem a:hover,
.logOutBtn:hover {
  color: black;
}

.menuItem span {
  margin-left: 7px;
  line-height: 16px;
}
