@value black, gray-200 from '../../common/colors.css';

.header {
  padding: 15px 30px;
  box-shadow: 0 1px 2px 0 rgb(31 45 61 / 7%);
  border-bottom: 1px solid gray-200;
  color: black;
}

.title {
  font-size: 1.1rem;
}
