@value neu-2, gray-100, gray-200, primary, black, white from '../../common/colors.css';

.container {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  box-shadow: 10px 10px 10px neu-2, -10px -10px 10px gray-100;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.switchBox {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  padding: 50px;
  background-color: gray-200;
  overflow: hidden;
  box-shadow: 4px 4px 10px neu-2, -4px -4px 10px gray-100;
  position: relative;
  z-index: 100;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: black;
}

.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  border: 0;
  background-color: primary;
  color: white;
  box-shadow: 8px 8px 16px neu-2, -8px -8px 16px gray-100;
  cursor: pointer;
}
