@value gray-200, white from 'common/colors.css';

.container {
  height: 100%;
  min-height: 100vh;
  min-width: 1040px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray-200;
}

.container.loggedIn {
  min-width: unset;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  min-width: 760px;
}

.sideMenuSpace {
  width: 50px;
  min-width: 50px;
  height: 100%;
}
