@value neu-1 from 'common/styles.css';

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: neu-1;
}

.container.loggedIn {
  align-items: flex-start;
}

.sideMenuSpace {
  width: 50px;
  height: 100%;
}
