@value neu-1, bg from 'common/styles.css';

.container {
  min-height: 100vh;
  min-width: 1040px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: neu-1;
}

.container.loggedIn {
  min-width: unset;
  align-items: flex-start;
  background-color: bg;
}

.sideMenuSpace {
  width: 50px;
  height: 100%;
}
